/* ACCOUNT TABS */
ul.tabs.accountLinks li {
    width: 33.333333333%;
}

/* TEESHIRT PICTURE */
.account img {
    height: 300px;
    width: 200px;

    -webkit-transition: height .2s ease, width .2s ease;
       -moz-transition: height .2s ease, width .2s ease;
         -o-transition: height .2s ease, width .2s ease;
            transition: height .2s ease, width .2s ease;
}

/* MAXIMUM BUTTON/INPUT SIZE */
.account input.button, .account > .content > form > input {
    max-width: 600px;
}

/* TABLES */
main .account table td {
    border: 1px solid #fff;
}

main .account table td {
    padding: 10px;
    text-align: center;
}

.account table form, .account table form input.button {
    margin: 0;
}

.account table form input.button {
    display: inline-block;
    width: auto;
}

.account table form {
    text-align: center;
}

.account table .yes, .account table .no {
    color: green;
    font-weight: 600;
}

.account table .no {
    color: red;
}
