{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <section class="module parallax parallax-1"></section>
        <section class="module content">
            <div class="panel container">
                <h1>Erreur : Page introuvable (404)</h1>
                <p>Le ressource demandée n'exsite pas.</p>
            </div>
        </section>
    </main>
{% endblock %}

