{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <section class="module parallax parallax-1"></section>
        <section class="module content">
            <div class="panel container">
                <h1>Erreur : Serveur (500)</h1>
                <p>Une erreur serveur à eu lieu lors de votre requête.</p>
            </div>
        </section>
    </main>
{% endblock %}

