{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <section class="module parallax parallax-1"></section>
        <section class="module content">
            <div class="panel container">
              <h1>Erreur : Accès refusé (403)</h1>
                <p>Vous ne pouvez accéder à cette page ou effectuer cette action</p>
            </div>
        </section>
    </main>
{% endblock %}
