<html>
    <body>

    {% block body %}
    {% endblock %}


    <p>A bientôt lors de l'UTT Arena !</p>

    {# Makes an absolute URL to the /images/logo.png file #}
    <img src="{{ absolute_url(asset('img/logo.png')) }}" height="100">

    </body>
</html>