{% extends ':emails:base.html.twig' %}
{% block body %}
    <p>Bonjour {{ player.nickname }},</p>

    {% if player == leavingMember %}
    <p>Vous avez quitté  {{ team.name }}  </p>
        {% else %}
    <p>{{ leavingMember.nickname }} a quitté votre équipe.</p>
  <p>N'hésitez pas à recruter un autre coéquipier car votre équipe doit être complète pour participer au tournoi !</p>
            {% endif %}
{% endblock %}
