{% extends ':emails:base.html.twig' %}
{% block body %}
<p>Bonjour,</p>

<p>Merci d'avoir confirmé votre venue en payant votre place !</p>

<p>Vous avez une place {{ player.ticket.reduced ? 'UT' : 'extérieur' }} à {{ player.ticket.price.formatted }}</p>

{% if  player.ticket.tshirt %}
<p>Elle inclut la réservation d'un tee-shirt {{ player.ticket.tshirt.genderLabel }} de taille {{ player.ticket.tshirt.size }}.</p>
{% endif %}

<p>Liste des pièces à fournir</p>
<ul>
  <li>Une pièce d'identité</li>

{% if  player.ticket.reduced %}
  <li>Votre place ayant bénéficiée d'un prix réduit : une pièce justificative (carte étudiante)</li>
{% endif %}

  <li>Si vous êtes mineur, merci de venir avec une authorisation parentale.</li>
</ul>
{% endblock %}
