{% extends ':emails:base.html.twig' %}
{% block body %}
<p>Bonjour, {{ player.nickname }}</p>

<p>Un demande de réinitialisation de mot de passe a été effectuée en votre nom.</p>

<p>Si vous n'en êtes pas l'auteur, veuillez immédiatement prévenir l'équipe organisatrice de l'événement.</p>

<p>Pour modifier votre mot de passe, veuillez suivre le lien suivant : </p>

<a href="{{ url('resetPassword', { 'token' : token } ) }}">
    Réinitialisation du mot de passe
</a>

{% endblock %}