/* ACCOUNT TABS */
.account > div {
    width: 100%;
    position: relative;
}

/** Player tab **/
.player > div {
    width: 45%;
}

.player .information {
    float: left;
    margin-right: 5%;
}

.player .information dd > div,
.player .information .editButtons,
.player .information.edit span,
.player .information.edit #edit {
    display: none;
}

.player .information.edit dd > div {
    display: block;
}

.player .information.edit dd {
    margin-left: 0;
}

.player .information.edit .editButtons, .player .information.edit .name {
    display: flex;
    justify-content: space-between;
}
.player .information .editButtons button,  .player .information.edit .name > div{
    width: 45%;
}

.player .password {
    float: right;
    margin-left: 5%;
}

.player .password > form > div {
    margin-top: 19px;
}


@media (max-width: 768px) {
    .player > div {
        width: 100%;
    }
}

/*** Payment tab **/

#tshirtData {
    margin-top: 10px;
    margin-bottom: 10px;
}

#payment_tshirtSize, #payment_tshirtGender {
    margin-top: 10px;
    margin-bottom: 10px;
}

#payment_tshirtSize .iradio_flat-aero, #payment_tshirtGender .iradio_flat-aero {
    display: none;
}

#payment_tshirtSize label,  #payment_tshirtGender label{
    padding: 5px;
    margin-right: 10px;
    border: #3498DB 1px solid;
    transition: all 1s;
    display: inline-block;
}

#payment_tshirtSize .checked  + label,  #payment_tshirtGender .checked  + label{
    background-color: #3498DB;
}

/** Spotlight tab **/
.gameSelector .games{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.gameSelector .games .game {
    width : 45%;
    padding: 5px;
    background-color: #202426;
    color: white;
    text-align: center;
    position: relative;
    flex-grow: 1;
    margin: 0 15px 15px;
}

.games figure {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.gameSelector .games figcaption {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    backface-visibility: hidden;
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    position: absolute;
    left: 0;
    background: #2C3F52 none repeat scroll 0 0;
    color: white;
}

.game em {
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
    display: block;
}

.games .game:hover figcaption{
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
}

.gameSelector .games img {
    width : 100%;
    height: 250px;
    transition: transform 0.4s ease 0s;
    display: block;
    position: relative;
}

.gameSelector .games .game:hover img{
    transform: translateY(-50px);
}

.game footer .button {
    display: inline-block;
}



ul.gameList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.gameList {
    flex-grow: 1;
}

.selectorsList {
    margin-bottom: 10px;
    max-height: 300px;
    overflow-y: auto;
    text-align: center;
}
.selectorsList dt {
    padding: 5px;
    margin: 10px 0;
    border-bottom: 1px solid white;
}

.selectorsList dd {
    padding: 10px;
    border-bottom: 1px dotted #FFF;
    margin-left: 0;
}

.selectorsList dd:nth-child(2n) {
    background-color: #111518;
}

.selectorsList dd:nth-child(2n+1) {
    background-color: #212B31;
}

@media (max-width: 768px) {
    .game {
        width: 100%;
    }
}
