/* ACCOUNT TABS */
.account > div {
    width: 100%;
    position: relative;
}

/** Player tab **/
.player > div {
    width: 45%;
}

.player .information {
    float: left;
    margin-right: 5%;
}

.player .information dd > div,
.player .information .editButtons,
.player .information.edit span,
.player .information.edit #edit {
    display: none;
}

.player .information.edit dd > div {
    display: block;
}

.player .information.edit dd {
    margin-left: 0;
}

.player .information.edit .editButtons, .player .information.edit .name {
    display: flex;
    justify-content: space-between;
}
.player .information .editButtons button,  .player .information.edit .name > div{
    width: 45%;
}

.player .password {
    float: right;
    margin-left: 5%;
}

.player .password > form > div {
    margin-top: 19px;
}
/*** Payment tab **/
#tshirtSize {
    margin-top: 10px;
    margin-bottom: 10px;
}

#payment_tshirtSize {
    margin-top: 10px;
}

#payment_tshirtSize .iradio_flat-aero {
    display: none;
}

#payment_tshirtSize label {
    padding: 5px;
    margin-right: 10px;
    border: #3498DB 1px solid;
    transition: background-color 1s;
}

#payment_tshirtSize .checked  + label {
    background-color: #3498DB;
}

/** Spotlight tab **/
.gameSelector .games{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.gameSelector .games a {
    width : 45%;
    padding: 5px;
    background-color: #202426;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.games figure {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.gameSelector .games figcaption {
    text-align: center;
    vertical-align: middle;
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    backface-visibility: hidden;
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    position: absolute;
    left: 0;
    background: #2C3F52 none repeat scroll 0 0;
    color: white;
}

.games a:hover figcaption{
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
}

.gameSelector .games img {
    width : 100%;
    height: 250px;
    transition: transform 0.4s ease 0s;
    display: block;
    position: relative;
}

.gameSelector .games a:hover img{
    transform: translateY(-50px);
}

