{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="module parallax parallax-1"></section>
        <section class="module content">
            <div class="panel container">
                <h2>{{ title }}</h2>
                {{ form_start(form) }}
                {{ form_row(form) }}
                <button type="submit">Valider</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}